.posts{
  background-color: #b76568;
  color: white;
  margin-left: 30vw;
  width: 68vw;
  //margin: 0 auto;
  div{
    border-bottom: 10px solid white;
    p{padding-left: 1rem;}
  }
}
.recentPost{
  background-color: #b76568;
  color: white;
  //margin-left: 30vw;
  width: 68vw;
  div{
    border-bottom: 10px solid white;
    p{padding-left: 1roem;}
  }
}
