<div class="formContainer">

  <button type="button" name="button" id="loadContent"> load content</button>
  <form id="inputForm" method="" enctype="" action="">
    <input type="text" id="name" name="firstName" placeholder="Enter your name..." maxlength="100">
    <br/><br/>
    <textarea name="message" id="postcontent" rows="8" cols="80" placeholder="What's on your mind" maxlength="400"></textarea>
    <br/>
    <button type="button" name="button" id="submitForm">Submit</button>
  </form>
</div>
